.page{
    padding: 152rpx 64rpx 0;
}

.page_title {
    font-family: PingFangSC-Medium;
    font-size: 56rpx;
    line-height: 80rpx;
    color: #6A7185;
}

.page_ft{
    margin-top: 44rpx;
}

.bh-select{
    width: 140rpx;
    line-height: 42rpx;
}

.bh-select .weui-select{
    padding: 0;
    height: 42rpx;
    line-height: 42rpx;
    min-height: 42rpx;
    borer-right:1rpx solid #D8DAE4;
}

.input-cell .weui-flex__item{
    padding-left: 20rpx;
}

.input-cell .weui-vcode-btn{
    font-size: 30rpx;
    padding: 0 0 0 20rpx;
    line-height: 42rpx;
    height: 42rpx;
    min-height: 42rpx;
    border-left:1px solid #D8DAE4;
    color: #6A7185;
}
